#div-carousel {
    height: 400px;
}
.div-members {
    height: 200px;
}
.nav-link {
    font-size: 18px;
}
.navbar-brand {
    font-size: 24px;
}
.display-4 {
    font-size: 3rem;
}
.display-3 {
    letter-spacing: 8px;
}